html, body, .fullscreen{
    height: 100%;
}

#weatherApp{
    height: 100%;
    width: 80%;
    margin: 0 auto;
} 

.left-side-block{
    height: 100%;
    box-sizing: border-box;
    border-right: 2px solid rgb(236, 151, 31);
 }

.city_form{
    height: 20%;
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
}

.city-input:focus{
    border-color: rgb(236, 151, 31);
    box-shadow: 0 0 8px rgba(236, 151, 31,.6);
}

.space_wrapper{
    margin: 15px;
}

.city-list-block{
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 10%;
    height: 80%;
}

.city-list{
    height: 100%;
    box-sizing: border-box;
    list-style-type: none;
    overflow: hidden;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
}

.city-list-element{
    line-height: 40px;
    background-color: rgba(236, 151, 31, 0.1);
    border-bottom: 1px solid rgb(236, 151, 31);
    color: black;
    cursor: pointer;
    transition: 200ms ease;
}

.city-list-element:nth-child(odd) {
    background-color: rgba(236, 151, 31, 0.2);
}

.city-list-element:nth-child(even) {
    background-color: rgba(236, 151, 31, 0.1);
}

.city-list-element:hover{
    background-color: rgba(236, 151, 31, 0.5);
}

.weather-view-block{
    box-sizing: border-box;
    padding: 40px;
}

.weather-view-city{
    font-size: 30px;
    font-weight: bold;
    text-shadow: rgb(236, 151, 31) 0 0 1px;
    color: rgb(154, 86, 38);
}

.weather-view-body{
    margin-top: 50px;
    border-left: 1px solid rgb(236, 151, 31);
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.weather-view-body span{
    display: block;
    margin: 10px;
    font-size: 18px;
}